# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/

# PyInstaller
*.spec

# OS
.DS_Store
Thumbs.db

# Service logs
logs/

# Environment
.env

# claude
.claude

# gitignore
.gitignore